Q1: You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function.

In [2]:
list1 = ['Ramesh', 'Suresh', 'Mahesh', 'Ali', 'Jacob']
list2 = ['Ali', 'Mukesh', 'Mahesh', 'Jacob', 'Sai', 'Sarita']
Common = []
for i in list1:
    if i in list2:
        Common.append(i)
print('Common elements are: ', Common)

Common elements are:  ['Mahesh', 'Ali', 'Jacob']

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age. 

Ramesh :  25

Suresh : 22

Mohit : 26

In [1]:
sum_of_age= 0
list2 = []
string = ("Ramesh Suresh Mohit")
name = string.split(' ')
age_dict = {"Ramesh": 25, "Suresh": 22, "Mohit": 26}

for value in name:
    if value in age_dict:
        sum_of_age = sum_of_age + age_dict[value]
print (sum_of_age)

73

Q3: A few students from a university have taken three exams

Name = Sam, Jacy, Tom, Steve

Python = 25, 26, 29, 28

Statistics = 23, 21, 19, 25

SQL = 29, 27, 28, 25


Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct.

In [3]:
def highest_mean_and_score():

    Name = ['Sam', 'Jacy', 'Tom', 'Steve']
    Python = [25, 26, 29, 28]
    Statistics = [23, 21, 19, 25]
    SQL = [29, 27, 28, 25]

    python_total = sum(Python)
    statistics_total = sum(Statistics)
    SQL_total = sum(SQL)

    avg_python = python_total/len(Python)
    avg_stats = statistics_total/len(Statistics)
    avg_sql = SQL_total/len(SQL)

    highest_mean = max(avg_python,avg_stats,avg_sql)

    if highest_mean == avg_python:
        print("Python has hightest mean", avg_python)
    elif highest_mean == avg_stats:
        print("Statistics has hightest mean", avg_stats)
    else:
        print("SQL has hightest mean", avg_sql)
 
    for i in range(len(Python)):
        if Python[i] == max(Python):
            print(f'{Name[i]} got marks {Python[i]} which is highest')
        
highest_mean_and_score()

SQL has hightest mean 27.25
Tom got marks 29 which is highest

Q4: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?

In [4]:
azithromycin = int(input("Number of azithromycin: ")) 
paracetamol = int(input("Number of paracetamol: ")) 
vitaminc = int(input("Number of vitaminc: ")) 

cost_para = float(input("cost of paracetamol: "))
cost_azith = float(input("Cost of azithromycin: ")) 
cost_vita = float(input("Cost of vitaminc: ")) 

Amount_received = int(input("Amount received by customer: ")) 

total_azith = azithromycin * cost_azith
total_para = paracetamol * cost_para
total_vita = vitaminc * cost_vita

total_cost = total_azith + total_para + total_vita

Money_refunded = Amount_received - total_cost
additional_amount = total_cost - Amount_received

print("total cost of azithromycin is:", total_azith)
print("total cost of paracetamol is:", total_para)
print("total cost of vitaminc is:", total_vita)
print("total cost of all medicine is:", total_cost)

if Amount_received > total_cost:
    print("The refund amount is: ", Money_refunded)
else:
    print("Please provide additional amount of: ",additional_amount )

Number of azithromycin: 3
Number of paracetamol: 2
Number of vitaminc: 5
cost of paracetamol: 35
Cost of azithromycin: 49
Cost of vitaminc: 33
Amount received by customer: 2000
total cost of azithromycin is: 147.0
total cost of paracetamol is: 70.0
total cost of vitaminc is: 165.0
total cost of all medicine is: 382.0
The refund amount is:  1618.0

Q5: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [6]:
def vowel_count(string):
    count = 0
    vowels = 'AEIOUaeiou'
    for i in string:
        if i in vowels:
            count = count + 1
    print(f'The count of vowel is {count}')
    
string = input('Enter the string:')
vowel_count(string)

Enter the string:I am learning python contains 6 vowels
The count of vowel is 11

Q6: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years. 


For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years it should print output as ‘return after 3 years’.

In [7]:
def eligibily(age):

    age_left = 18-age

    if age >= 18:
        print("Congrats! You are eligible")
    else:
        print(f'return after {age_left} years')

age = int(input("Enter your age: "))
eligibily(age)

Enter your age: 18
Congrats! You are eligible